<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drugstore</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!--biblioteca de fontes-->
  </head>
  <body>
    <!--Header-->
    <header id="header">
      <nav>
        <div class="container">
          <div class="text-center">
            <a href="/cadastro" class="nav-brand text-dark" style="text-decoration:none">Clientes Drugstore</a>
          </div>
        </div>
      </nav>
    </header>
    <!--Header-->
    <!--Main-->
    <main id="main">
      <div class="container">
        <div class="box-nav d-flex justify-between">
          <div class="filter" >
            <a href="/" style="text-decoration:none"><i class="fas fa-angle-double-left"></i>Clientes</a>
          </div>
        </div>
        <div class="form-title text-center">
          <h2 class="text-dark">Cliente Novo</h2>
          <span class="text-dark"
            >Formulário de cadastro para novos clientes</span
          >
        </div>
        <!--form-->
        <form action="/cadastro" method="post" id="addClient">
          <div class="novo_cliente">
            <div class="form-group">
              <label for="nome" class="text-dark">Nome</label>           
              <input
                type="text"
                name="nome"
                value="<%=resultado.nome%>"
                placeholder="Digite seu nome" required
              />
            </div>
            <div class="form-group">
              <label for="endereco" class="text-dark">Endereço</label>
              <input
                type="text"
                name="endereco"
                value="<%=resultado.endereco%>"
                placeholder="Digite seu endereço" required
              />
            </div>
            <div class="form-group">
              <label for="bairro" class="text-dark">Bairro</label>
              <input
                type="text"
                name="bairro"
                value="<%=resultado.bairro%>"
                placeholder="Digite seu bairro" required
              />
            </div>
            <div class="form-group">
              <label for="cidade" class="text-dark">Cidade</label>
              <input
                type="text"
                name="cidade"
                value="<%=resultado.cidade%>"
                placeholder="Digite sua cidade" required
              />
            </div>
            <div class="form-group">
              <label for="telefone" class="text-dark">Telefone</label>
              <input
                type="tel"
                name="telefone"
                value="<%=resultado.telefone%>"
                placeholder="Digite seu telefone (xx)xxxxxxxx" required
              />
            </div>
            <div class="form-group">
              <label for="email" class="text-dark">Email</label>
              <input
                type="text"
                name="email"
                value="<%=resultado.email%>"
                placeholder="Digite seu email" required
              />
            </div>
            <div class="form-group d-flex">
              <input type="hidden" name="idCliente" value="<%=resultado._id%>">
              <button type="submit" class="btn text-dark update">Salvar</button>
              <button type="reset" class="btn text-dark mx-2">Limpar</button>
            </div>
          </div>
        </form>
        <!--form-->
      </div>
    </main>
    <!--/Main-->
    <div vw class="enabled">
      <div vw-access-button class="active"></div>
      <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
      </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
      new window.VLibras.Widget('https://vlibras.gov.br/app')
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>